h1{
color: darkblue;
font-size: 40px;
}

body{
background: #F0F8FF;
}
.modal-body{
background: #F0F8FF;
}
.modal-header{
background: #F0F8FF;
}
.modal-footer{
background: #F0F8FF;
}
.body_edit_lista{
background: #FAEBD7;
}
.body_artiklar{
 background: #FFFFE0;
}
.body_listor{

 background: #F0FFFF;
}
.visa_lista{
background: #F0F8FF;

}
.btn btn-primary{
color: darkblue;
}
.btn btn-primary btn-sm{
color: darkblue;
}
tbody{
font-size: 18px;
}

form{
font-size: 18px;
}

.navbar-brand{
font-size: 22px;
}

.form-control{
font-size: 20px;
}

label{
font-size: 15px;
}

